<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuan.mapper.TeachersMapper">
    <resultMap id="TeacherBaseResultMap" type="com.xiaoyuan.model.Teachers">
        <id column="teacher_ID" property="teacherID" jdbcType="INTEGER"/>
        <result column="teachername" property="teachername" jdbcType="VARCHAR"/>
        <result column="schoolname" property="schoolname" jdbcType="VARCHAR"/>
        <result column="classname" property="classname" jdbcType="VARCHAR"/>
        <result column="post" property="post" jdbcType="VARCHAR"/>
        <result column="teacher_mobilephone" property="teachermobliephone" jdbcType="INTEGER"/>
        <result column="teacher_telephone" property="teacherTelephone" jdbcType="INTEGER"/>
        <result column="teacher_address" property="teacherAddress" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>

    </resultMap>
    <!--查询教师信息-->
    <select id="getTeacherList" parameterType="com.xiaoyuan.model.Teachers">
        select * from tl_school_teachers
    </select>
    <!--增加教师信息-->
    <insert id="addTeachers" parameterType="com.xiaoyuan.model.Teachers">
        insert into tl_school_teachers(teacher_ID,teachername,class ,
        post,teacher_mobliephone,teacher_telephone,teacher_address)
        values (#{teacher_ID,jdbcTpye=INTEGER}, (select classname from tl_school_class)=#{teachername,jdbcType=VARCHAR},
        #{schoolname,jdbcType=VARCHAR}, #{classname,jdbcType=VARHCAR}, #{post,jdbcType=VARCHAR},
        #{teacher_mobliephone,jdbcType=INTEGER}, #{teacher_telephone,jdbcType=INTEGER},
        #{teacher_address,jdbcType=VARCHAR})
    </insert>
    <!--修改教师信息-->
    <update id="updateTeachers" parameterType="com.xiaoyuan.model.Teachers">
        update tl_school_teachers
        set teachername=#{teachername,jdbcType=VARCHAR},
            schoolname=#{schoolname,jdbcType=VARCHAR},
            classname=#{classname,jdbcType=VARHCAR},
            post=#{post,jdbcType=VARCHAR},
            teacher_mobilephone=#{teacher_mobliephone,jdbcType=INTEGER},
            teacher_telephone=#{teacher_telephone,jdbcType=INTEGER},
            teacher_address=#{teacher_address,jdbcType=VARCHAR}
        where
            teacher_ID=#{teacher_ID,jdbcTpye=INTEGER}
    </update>
    <!--删除教师信息-->
    <delete id="deleteTeachers" parameterType="com.xiaoyuan.model.Teachers">
        delete from tl_school_teachers
        where teacher_ID=#{teacher_ID,jdbcTpye=INTEGER}
    </delete>
    <!--修改教师状态信息-->
    <update id="setTeachersstatus" parameterType="com.xiaoyuan.model.Teachers">
        update tl_school_teachers
        set status=#{status,jdbcType=INTEGER}
        where
            teacher_ID=#{teacher_ID,jdbcType=INTEGER}
    </update>


</mapper>